form input
{
	display: block;
	outline: 0;
	width: 250px;
	
	border-radius: 3px;
	padding: 10px 15px;
	margin: 0 auto 10px auto;
	display: block;
	text-align: center;
	font-size: 18px;
	
	color: black;
	
	transition-duration: 0.25s;
	font-weight: 300;
}

form input:focus
{
	background-color: #e6e6ff;
	width: 300px;
}

form button
{
	color: white;
	background-color: black;
	outline: 0;
	border: 0;
	padding: 10px 15px;
	border-radius: 3px;
	width: 250px;
	cursor: pointer;
	font-size: 18px;
	transition-duration: 0.25s;
	text-align: center;
	display: block;
	margin: 0 auto;
}	

button:hover{
	background-color: #000033;
}

.outer {
    display: table;
    position: absolute;
    height: 90%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: 50%;
}

.inner .h1 {
	text-align: center;
	vertical-align: middle;
}
