.header .container-fluid {
	background-color: #000099;
}
 
.header h3.navbar-title {
	display: block;
	margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    color: white;

    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.link{
	color:white;
	text-decoration:none;
	background-color:none;
}

footer {
margin: 0px auto;
width: 850px;
}    
.copyright {
float: right;
padding: 30px 0;
width: 425px;
text-align: center;
}